@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}



.custom-highlight {
  background: linear-gradient(to right, #ff0000 4px, #7b0f0f 4px, #7b0f0f 100%);
  color: white;
}

